{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["import"],
  "rules": {
    "linebreak-style": ["error", "windows"],
    "no-underscore-dangle": ["off"]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
